body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c6cefa;
    font-family: 'Microsoft Yi Baiti', sans-serif;
}
svg {
    background-color: white;
    box-shadow: 0 0 10px 1px grey;
}
.styleTxt {
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.bar:hover {
    fill: #b1e5f8;
}
.label {
    font-size: 20px;
}
#tooltip {
  opacity: 0.85;
  position: absolute;
  z-index: 10;
  visibility: hidden;
  background-color: #ffffff;
  width: 100px;
  height: 60px;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px black;
  display: flex;
  align-items: center;
  padding-left: 3px;
  font-size: 17px;
  font-weight: bold;
}